{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.10"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/transform-runtime"
  ],
  "sourceMap": "both",
  "retainLines": true
}